In [40]:
import numpy as np
import pandas as pd

#visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

#preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

#Checking Z value for outlier treatment
from scipy import stats

from sklearn.decomposition import PCA

#splitting the dataset into training and testing. 60:20:20 
# 60% for training, 20% for validation and 20% for testing.
from sklearn.model_selection import train_test_split

#picking models for prediction.
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

#ensemble models for better performance
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier

#error evaluation
from sklearn.metrics import mean_squared_error

In [41]:
data_x = pd.read_csv('adult_processed_x.csv')

In [42]:
data_y= pd.read_csv('adult_processed_y.csv')

In [43]:
data_x

,age,fnlwgt,education.num,sex,capital.gain,capital.loss,hours.per.week,Federal-gov,Local-gov,Never-worked,...,Farming-fishing,Handlers-cleaners,Machine-op-inspct,Other-service,Priv-house-serv,Prof-specialty,Protective-serv,Sales,Tech-support,Transport-moving
0,1.000000,0.043987,0.533333,0.0,0.0,1.000000,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.890411,0.081896,0.533333,0.0,0.0,1.000000,0.173469,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.671233,0.118021,0.600000,0.0,0.0,1.000000,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.506849,0.086982,0.200000,0.0,0.0,0.895317,0.397959,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.328767,0.171404,0.600000,0.0,0.0,0.895317,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.068493,0.202298,0.600000,1.0,0.0,0.000000,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
32557,0.136986,0.166404,0.733333,0.0,0.0,0.000000,0.377551,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
32558,0.315068,0.096500,0.533333,1.0,0.0,0.000000,0.397959,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32559,0.561644,0.094827,0.533333,0.0,0.0,0.000000,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32560,0.068493,0.128499,0.533333,1.0,0.0,0.000000,0.193878,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
data_y

       income_larger_than_50k
0                           0
1                           0
2                           0
3                           0
4                           0
...                       ...
32556                       0
32557                       0
32558                       1
32559                       0
32560                       0

[32561 rows x 1 columns]

In [45]:
data_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 88 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         32561 non-null  float64
 1   fnlwgt                      32561 non-null  float64
 2   education.num               32561 non-null  float64
 3   sex                         32561 non-null  float64
 4   capital.gain                32561 non-null  float64
 5   capital.loss                32561 non-null  float64
 6   hours.per.week              32561 non-null  float64
 7   Federal-gov                 32561 non-null  float64
 8   Local-gov                   32561 non-null  float64
 9   Never-worked                32561 non-null  float64
 10  Private                     32561 non-null  float64
 11  Self-emp-inc                32561 non-null  float64
 12  Self-emp-not-inc            32561 non-null  float64
 13  State-gov                   32561 non-null  float64
 14  Without-pay                 32561 non-null  float64
 15  Divorced                    32561 non-null  float64
 16  Married-AF-spouse           32561 non-null  float64
 17  Married-civ-spouse          32561 non-null  float64
 18  Married-spouse-absent       32561 non-null  float64
 19  Never-married               32561 non-null  float64
 20  Separated                   32561 non-null  float64
 21  Widowed                     32561 non-null  float64
 22  Husband                     32561 non-null  float64
 23  Not-in-family               32561 non-null  float64
 24  Other-relative              32561 non-null  float64
 25  Own-child                   32561 non-null  float64
 26  Unmarried                   32561 non-null  float64
 27  Wife                        32561 non-null  float64
 28  Amer-Indian-Eskimo          32561 non-null  float64
 29  Asian-Pac-Islander          32561 non-null  float64
 30  Black                       32561 non-null  float64
 31  Other                       32561 non-null  float64
 32  White                       32561 non-null  float64
 33  Cambodia                    32561 non-null  float64
 34  Canada                      32561 non-null  float64
 35  China                       32561 non-null  float64
 36  Columbia                    32561 non-null  float64
 37  Cuba                        32561 non-null  float64
 38  Dominican-Republic          32561 non-null  float64
 39  Ecuador                     32561 non-null  float64
 40  El-Salvador                 32561 non-null  float64
 41  England                     32561 non-null  float64
 42  France                      32561 non-null  float64
 43  Germany                     32561 non-null  float64
 44  Greece                      32561 non-null  float64
 45  Guatemala                   32561 non-null  float64
 46  Haiti                       32561 non-null  float64
 47  Holand-Netherlands          32561 non-null  float64
 48  Honduras                    32561 non-null  float64
 49  Hong                        32561 non-null  float64
 50  Hungary                     32561 non-null  float64
 51  India                       32561 non-null  float64
 52  Iran                        32561 non-null  float64
 53  Ireland                     32561 non-null  float64
 54  Italy                       32561 non-null  float64
 55  Jamaica                     32561 non-null  float64
 56  Japan                       32561 non-null  float64
 57  Laos                        32561 non-null  float64
 58  Mexico                      32561 non-null  float64
 59  Nicaragua                   32561 non-null  float64
 60  Outlying-US(Guam-USVI-etc)  32561 non-null  float64
 61  Peru                        32561 non-null  float64
 62  Philippines                 32561 non-null  float64
 63  Poland                      32561 non-null  float64
 64  Portugal                    32561 non-null  float64
 65  Puerto-Rico                 32561 non-null  float64
 66  Scotland                    32561 non-null  float64
 67  South                       32561 non-null  float64
 68  Taiwan                      32561 non-null  float64
 69  Thailand                    32561 non-null  float64
 70  Trinadad&Tobago             32561 non-null  float64
 71  United-States               32561 non-null  float64
 72  Vietnam                     32561 non-null  float64
 73  Yugoslavia                  32561 non-null  float64
 74  Adm-clerical                32561 non-null  float64
 75  Armed-Forces                32561 non-null  float64
 76  Craft-repair                32561 non-null  float64
 77  Exec-managerial             32561 non-null  float64
 78  Farming-fishing             32561 non-null  float64
 79  Handlers-cleaners           32561 non-null  float64
 80  Machine-op-inspct           32561 non-null  float64
 81  Other-service               32561 non-null  float64
 82  Priv-house-serv             32561 non-null  float64
 83  Prof-specialty              32561 non-null  float64
 84  Protective-serv             32561 non-null  float64
 85  Sales                       32561 non-null  float64
 86  Tech-support                32561 non-null  float64
 87  Transport-moving            32561 non-null  float64
dtypes: float64(88)
memory usage: 21.9 MB

In [46]:
data_y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 1 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   income_larger_than_50k  32561 non-null  int64
dtypes: int64(1)
memory usage: 254.5 KB

In [47]:
col_names_data_x=list(data_x.columns)
print('col_names: {} \n\nlength: {}'.format(col_names_data_x, len(col_names_data_x)))

col_names: ['age', 'fnlwgt', 'education.num', 'sex', 'capital.gain', 'capital.loss', 'hours.per.week', 'Federal-gov', 'Local-gov', 'Never-worked', 'Private', 'Self-emp-inc', 'Self-emp-not-inc', 'State-gov', 'Without-pay', 'Divorced', 'Married-AF-spouse', 'Married-civ-spouse', 'Married-spouse-absent', 'Never-married', 'Separated', 'Widowed', 'Husband', 'Not-in-family', 'Other-relative', 'Own-child', 'Unmarried', 'Wife', 'Amer-Indian-Eskimo', 'Asian-Pac-Islander', 'Black', 'Other', 'White', 'Cambodia', 'Canada', 'China', 'Columbia', 'Cuba', 'Dominican-Republic', 'Ecuador', 'El-Salvador', 'England', 'France', 'Germany', 'Greece', 'Guatemala', 'Haiti', 'Holand-Netherlands', 'Honduras', 'Hong', 'Hungary', 'India', 'Iran', 'Ireland', 'Italy', 'Jamaica', 'Japan', 'Laos', 'Mexico', 'Nicaragua', 'Outlying-US(Guam-USVI-etc)', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto-Rico', 'Scotland', 'South', 'Taiwan', 'Thailand', 'Trinadad&Tobago', 'United-States', 'Vietnam', 'Yugoslavia', 'Adm-clerical', 'Armed-Forces', 'Craft-repair', 'Exec-managerial', 'Farming-fishing', 'Handlers-cleaners', 'Machine-op-inspct', 'Other-service', 'Priv-house-serv', 'Prof-specialty', 'Protective-serv', 'Sales', 'Tech-support', 'Transport-moving']

length: 88

In [48]:
col_names_data_y=list(data_y.columns)
print('col_names: {} \n\nlength: {}'.format(col_names_data_y, len(col_names_data_y)))

col_names: ['income_larger_than_50k']

length: 1